/* Blog Page */
.blog{
	background-color: #f8f8f8;
}
.blog-item{
	width: 30%;
	float: left;
	background-color: var(--white);
}
.blog-item-img img {
	width: 100%;
}
.blog-item .blog-info {
	padding: 20px;
}
.blog-info .blog-list {
	margin: 10px 0;
}
.blog-info .blog-list li {
	display: inline-block;
	margin: 0 5px;
}
.blog-list li i {
	color: var(--maincolor);
	font-weight: bold;
}
.blog-item-title {
	font-weight: bold;
	margin: 20px 0;
}
.blog-item-content {
	color:#999;
	line-height: 1.5;
}
.blog-item-link {
	color: var(--maincolor);
}
