/* Count Section */
.count{
	position: relative;
	background-image: url(../images/background/background2.webp);
	background-size: cover;
	background-attachment: fixed;
	height:300px;
}
.count-item {
	width: 25%;
	text-align: center;
}
.count-item .icon {
	color: var(--maincolor);
	font-weight: bold;
	font-size: 50px;
}
.count-item-title {
	font-weight: bold;
	font-size: 25px;
	color: var(--white);
}
.count-item-desc {
	color: var(--white);
}
